.container {
	min-height: 90%;
	min-width: 80%;
	max-width: 1800px;
	margin: 0 auto;
	background-color: #FFFFFF;
	padding: 60px 40px;
	border-radius: 20px;
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
	position: relative;
	display: block;
}

.element {
	background-color: #ffffff;
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 100%;
}

.element .div {
	background-color: #ffffff;
	overflow: hidden;
	width: 1466px;
	height: 2148px;
	position: relative;
}

.element .rental-group-2 {
	position: absolute;
	top: 0px;
	left: 157px;
}

.element .rental-group-3 {
	position: absolute;
	top: 223px;
	left: 0px;
}

.element .rental-group-4 {
	position: absolute;
	top: 223px;
	left: 157px;
}

.element .group-4 {
	position: absolute;
	width: 165px;
	height: 162px;
	top: 69px;
	left: 182px;
}

.element .group-5 {
	position: absolute;
	width: 165px;
	height: 162px;
	top: 292px;
	left: 25px;
}

.element .group-8 {
	position: absolute;
	width: 165px;
	height: 162px;
	top: 292px;
	left: 182px;
}

.element .text-wrapper-7 {
	width: 136px;
	top: 218px;
	left: 25px;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 17px;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .text-wrapper-8 {
	width: 239px;
	height: 32px;
	top: 280px;
	left: 130px;
	text-shadow: 0px 2px 2px #00000040;
	font-family: "Roboto-ExtraBold", Helvetica;
	font-weight: 800;
	color: #5a54ff;
	font-size: 40px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .text-wrapper-9 {
	position: absolute;
	width: 239px;
	height: 32px;
	top: 0px;
	left: 140px;
	text-shadow: 0px 2px 2px #00000040;
	font-family: "Roboto-ExtraBold", Helvetica;
	font-weight: 800;
	color: #5a54ff;
	font-size: 40px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.element .phone-input {
	position: absolute;
	width: 202px;
	height: 36px;
	top: 755px;
	left: 260px;
	box-shadow: inset 1px 1px 4px #00000040;
}

.element .update-pwd {
	position: absolute;
	width: 180px;
	height: 34px;
	top: 460px;
	left: 800px;
	background-color: #858585;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #00000040;
	text-align: center;
	font-size: 22px;
}

.element .update-nick {
	position: absolute;
	width: 180px;
	height: 34px;
	top: 520px;
	left: 800px;
	background-color: #858585;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #00000040;
	text-align: center;
	font-size: 22px;
}

.element .update-phone {
	position: absolute;
	width: 180px;
	height: 34px;
	top: 700px;
	left: 800px;
	background-color: #858585;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #00000040;
	text-align: center;
	font-size: 22px;
}

.element .update-address {
	position: absolute;
	width: 180px;
	height: 34px;
	top: 760px;
	left: 800px;
	background-color: #858585;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #00000040;
	text-align: center;
	font-size: 22px;
}

.element .info-box {
	position: absolute;
	left: 290px;
	width: 460px;
	height: 35px;
	background-color: #d9d9d980;
	border-radius: 5px;
	box-shadow: inset 1px 1px 4px #00000040;
	font-family: "Titillium Web-Regular", Helvetica;
	font-weight: 400;
	font-size: 20px;
	color: #000;
	text-align: center;
	line-height: 35px; /* 수직 정렬 */
}

.element .text-wrapper-12 {
	width: 111px;
	height: 35px;
	top: 460px;
	left: 130px;
	font-family: "Titillium Web-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 22px;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.addr-height {
	height: 70px !important;
}

.modal {
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
	background-color: white;
	margin: 15% auto;
	padding: 20px;
	width: 300px;
	border-radius: 10px;
}

.hidden {
	display: none;
}

/*글 목록*/
.element .group-20 {
	position: absolute;
	width: 925px;
	height: 993px;
	top: 940px;
	left: 92px;
}
/*내가 쓴 글*/
.element .likes { /*개추버튼*/
	position: absolute;
	width: 20px;
	height: 18px;
	top: 20px;
	left: 166px;
}

.element .group-21 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 50px;
	left: 0px;
}

.element .red {
	position: absolute;
	width: 203px;
	height: 196px;
	top: -2px;
	left: -2px;
	background-color: red;
	background-size: cover;
	background-position: 50% 50%;
}

.element .overlap-3 {
	position: absolute;
	width: 112px;
	height: 18px;
	top: 211px;
	left: 44px;
}

.element .board-title {
	top: 0;
	left: 0;
	font-family: "Inter-Regular", Helvetica;
	font-size: 15px;
	white-space: nowrap;
	position: absolute;
	font-weight: 400;
	color: #000000;
	letter-spacing: 0;
	line-height: normal;
}

.element .overlap-4 {
	position: absolute;
	width: 98px;
	height: 15px;
	top: 230px;
	left: 51px;
}

.element .board-terms {
	top: 0;
	left: 0;
	font-family: "Inter-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 12px;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .overlap-group-2 {
	position: absolute;
	width: 119px;
	height: 12px;
	top: 247px;
	left: 40px;
}

.element .board-period {
	top: 0;
	left: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 10px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .group-22 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 50px;
	left: 240px;
}

.element .group-23 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 50px;
	left: 480px;
}

/*거래기록*/
.element .group-24 {
	left: 0px;
}

.element .group-25 {
	left: 240px;
}

.element .group-26 {
	left: 480px;
}

.element .group-27 {
	left: 720px;
}

.group-box {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 395px;
}

.element .group-28 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 740px;
	left: 0px;
}

.element .group-29 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 740px;
	left: 240px;
}

.element .group-30 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 740px;
	left: 480px;
}

.element .group-31 {
	position: absolute;
	width: 212px;
	height: 259px;
	top: 740px;
	left: 720px;
}

.element .text-wrapper-22 {
	height: 30px;
	top: 0px;
	left: 1px;
	font-family: "Titillium Web-Black", Helvetica;
	font-weight: 900;
	color: #000000;
	font-size: 20px;
	text-align: center;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .text-wrapper-23 {
	height: 30px;
	top: 348px;
	left: 1px;
	font-family: "Titillium Web-Black", Helvetica;
	font-weight: 900;
	color: #000000;
	font-size: 20px;
	text-align: center;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .text-wrapper-24 {
	height: 30px;
	top: 693px;
	left: 1px;
	font-family: "Titillium Web-Black", Helvetica;
	font-weight: 900;
	color: #000000;
	font-size: 20px;
	text-align: center;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .see-more1 {
	width: 84px;
	top: 0px;
	left: 830px;
	font-family: "Titillium Web-Black", Helvetica;
	font-weight: 900;
	color: #5a54ff;
	font-size: 20px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .see-more2 {
	width: 84px;
	top: 348px;
	left: 830px;
	font-family: "Titillium Web-Black", Helvetica;
	font-weight: 900;
	color: #5a54ff;
	font-size: 20px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .see-more3 {
	width: 84px;
	top: 693px;
	left: 830px;
	font-family: "Titillium Web-Black", Helvetica;
	font-weight: 900;
	color: #5a54ff;
	font-size: 20px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .overlap-15 {
	position: absolute;
	width: 700px;
	height: 35px;
	top: 70px;
	left: 140px;
}

.element .itda-point-text {
	top: 90px;
	left: 0;
	position: absolute;
	width: 558px;
	height: 35px;
	font-family: "Titillium Web-SemiBold", Helvetica;
	font-weight: 600;
	font-size: 36px;
	color: #ff6f61;
	object-fit: cover;
}

.element .degree {
	width: 19px;
	height: 19px;
	top: 15px;
	left: 900px;
	font-family: "Titillium Web-Bold", Helvetica;
	font-weight: 700;
	color: #000000;
	font-size: 64px;
	text-align: center;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .itda-point {
	top: 100px;
	left: 130px;
	position: absolute;
	width: 900px;
	height: 35px;
	border: 2px solid #ccc;
	border-radius: 15px;
	object-fit: cover;
}

.element .gauge-fill {
	height: 100%;
	background-color: #ff6f61; /* 다홍색 */
	border-radius: 15px 0 0 15px;
	width: 0%;
	transition: width 0.5s ease;
}

.element .view {
	position: absolute;
	width: 1471px;
	height: 165px;
	top: -2px;
	left: -5px;
	background-color: #ffffff;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 2px 4px #00000040;
}

.element .logo {
	position: absolute;
	width: 90px;
	height: 104px;
	top: 44px;
	left: 97px;
	border: 1px solid purple;
}

.element .view-2 {
	position: absolute;
	width: 779px;
	height: 38px;
	top: 94px;
	left: 340px;
	background-color: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	border: 2px solid;
	border-color: #adaaf8;
	box-shadow: 0px 4px 4px #00000040;
}

.element .search {
	position: absolute;
	width: 24px;
	height: 25px;
	top: 6px;
	left: 693px;
}

.element .search-input {
	width: 108px;
	height: 35px;
	top: 0;
	left: 128px;
	border: none;
	font-family: "Titillium Web-Bold", Helvetica;
	font-weight: 700;
	color: #898282;
	font-size: 15px;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .view-3 {
	position: absolute;
	width: 118px;
	height: 37px;
	top: 0;
	left: 0;
	background-color: #adaaf8;
	border-radius: 20px;
	overflow: hidden;
	box-shadow: 0px 4px 4px #00000040;
}

.element .overlap-group-3 {
	position: relative;
	width: 83px;
	height: 23px;
	top: 7px;
	left: 23px;
}

.element .group-32 {
	position: absolute;
	width: 73px;
	height: 23px;
	top: 0;
	left: 0;
}

.element .category {
	width: 71px;
	height: 23px;
	top: 0;
	left: 0;
	font-family: "Titillium Web-Bold", Helvetica;
	font-weight: 700;
	color: #ffffff;
	font-size: 15px;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .arrow-drop-down {
	position: absolute;
	width: 23px;
	height: 23px;
	top: -2px;
	left: 60px;
	color: #ffffff;
}

.element .view-wrapper {
	position: absolute;
	width: 255px;
	height: 61px;
	top: 82px;
	left: 1153px;
}

.element .view-4 {
	height: 61px;
	background-color: #ffffff;
	border-radius: 20px;
	overflow: hidden;
	border: 1px solid;
	border-color: #bcaeae;
}

.element .overlap-group-4 {
	position: relative;
	width: 229px;
	height: 33px;
	top: 15px;
	left: 16px;
}

.element .group-33 {
	position: absolute;
	width: 216px;
	height: 23px;
	top: 4px;
	left: 0;
}

.element .text-wrapper-30 {
	width: 214px;
	height: 23px;
	top: 0;
	left: 0;
	font-family: "Titillium Web-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 15px;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .bell {
	position: absolute;
	width: 30px;
	height: 30px;
	top: 1px;
	left: 199px;
}

.element .chat-bubble {
	position: absolute;
	width: 33px;
	height: 33px;
	top: 0;
	left: 156px;
}

.element .navbar {
	position: absolute;
	width: 716px;
	height: 24px;
	top: 42px;
	left: 355px;
}

.element .go-to-rental {
	left: 0;
	position: absolute;
	top: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.element .go-to-auction {
	left: 158px;
	position: absolute;
	top: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.element .go-to-exchange {
	left: 316px;
	position: absolute;
	top: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.element .go-to-sharing {
	left: 474px;
	position: absolute;
	top: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.element .go-to-community {
	left: 632px;
	position: absolute;
	top: 0;
	font-family: "Inter-Regular", Helvetica;
	font-weight: 400;
	color: #000000;
	font-size: 20px;
	letter-spacing: 0;
	line-height: normal;
	white-space: nowrap;
}

.element .logout {
	top: 42px;
	left: 1254px;
	font-family: "Inter-ExtraBold", Helvetica;
	font-weight: 800;
	color: #5a54ff;
	font-size: 16px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .mainPage {
	top: 42px;
	left: 1153px;
	font-family: "Inter-ExtraBold", Helvetica;
	font-weight: 800;
	color: #5a54ff;
	font-size: 16px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .customer-service {
	top: 42px;
	left: 1339px;
	font-family: "Inter-ExtraBold", Helvetica;
	font-weight: 800;
	color: #5a54ff;
	font-size: 16px;
	white-space: nowrap;
	position: absolute;
	letter-spacing: 0;
	line-height: normal;
}

.element .profile-change {
	position: absolute;
	width: 200px;
	height: 40px;
	top: 780px;
	left: 1090px;
	background-color: #858585;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #00000040;
	text-align: center;
	font-size: 24px;
}

.element .profile-image {
	position: absolute;
	width: 360px;
	height: 360px;
	border: 2px solid #5a54ff;
	top: 380px;
	left: 1020px;
}

.element .delete-user {
	position: absolute;
	width: 180px;
	height: 40px;
	top: 300px;
	left: 1100px;
	background-color: #858585;
	border-radius: 10px;
	box-shadow: 2px 2px 4px #00000040;
	text-align: center;
	font-size: 24px;
}