<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="user">

	<!-- 아이디 찾기 -->
	<select id="findId" resultType="String">
		SELECT USER_ID
		FROM USER_TB
		WHERE NICKNAME = #{name}
			AND EMAIL = #{email}
	</select>

	<!-- 비밀번호 찾기 -->
	<select id="findPwd" resultType="String">
		SELECT USER_PWD
		FROM USER_TB
		WHERE USER_ID = #{id}
			AND EMAIL = #{email}
	</select>

	<!-- 회원가입 -->
	<select id="selectNextUserNo" resultType="int">
		SELECT SEQ_UNO.NEXTVAL FROM DUAL
	</select>
	
	<insert id="insertUser">
		INSERT INTO USER_TB (
			USER_NUM,
			USER_ID,
			USER_PWD,
			NICKNAME,
			EMAIL,
			PHONE,
			BIRTH,
			ADDRESS,
			CREATE_DATE,
			USER_INF_VALIDITY_PERIOD,
			IS_QUIT
		) VALUES (
			SEQ_UNO.NEXTVAL,
			#{userId},
			#{userPwd},
			#{nickName},
			#{email},
			#{phone},
			#{birth},
			#{address},
			DEFAULT,
			#{validPeriod},
			DEFAULT
		)
	</insert>
	
	<!-- 프로필 추가 -->
	<insert id="insertProfile" parameterType="com.kh.itda.user.model.vo.User">
		INSERT INTO PROFILE (USER_NO, IMAGE_URL)
		VALUES (SEQ_UNO.NEXTVAL, #{imageUrl})
	</insert>
	
	<!-- 권한 부연 -->
	<insert id="insertAuthority">
		INSERT INTO AUTHORITIY (USER_NUM, AUTHORITY) VALUES (SEQ_UNO.NEXTVAL, 'ROLE_USER')
	</insert>
	
	<!-- 회원정보 수정 -->
	<update id="updateUser">
		UPDATE USER_TB
			<set>
				<if test="email != null">
					EMAIL = #{email},
				</if>
				<if test="birth != null">
					BIRTH = #{birth},
				</if>
				<if test="nickName != null">
					NICKNAME = #{nickName},
				</if>
				<if test="phone != null">
					PHONE = #{phone},
				</if>
				<if test="address != null">
					ADDRESS = #{address},
				</if>
				<if test="userPwd != null and userPwd != ''">
					USER_PWD = #{userPwd},
				</if>
			</set>
		WHERE USER_ID = #{userId}
	</update>

</mapper>