<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="banned">

	<insert id="banUser"
		parameterType="com.kh.itda.user.model.vo.BanUser">
		INSERT INTO banned_user (
		banned_num,
		user_num,
		reason,
		is_banned,
		penalty_date,
		release_date,
		admin_user_name
		) VALUES (
		BANNED_NUM_SEQ.NEXTVAL,
		#{userNum},
		#{reason},
		#{isBanned},
		#{penaltyDate},
		#{releaseDate},
		#{adminUserName}
		)
	</insert>

	<select id="getBanInfoByUserId" parameterType="string"
		resultType="com.kh.itda.user.model.vo.BanUser">
		SELECT reason, penalty_date, release_date
		FROM banned_user
		bu
		JOIN user_tb ut ON bu.user_num = ut.user_num
		WHERE ut.user_id =
		#{userId}
		AND bu.is_banned = 'Y'
		ORDER BY bu.penalty_date DESC
		FETCH
		FIRST 1 ROWS ONLY
	</select>

	<select id="getIsBannedByUserNum" parameterType="int"
		resultType="char">
		SELECT is_banned
		FROM banned_user
		WHERE user_num = #{userNum}
		AND
		is_banned = 'Y'
		AND release_date > SYSDATE
		ORDER BY penalty_date DESC
		FETCH FIRST 1 ROWS ONLY
	</select>

	<update id="updateBanUser"
		parameterType="com.kh.itda.user.model.vo.BanUser">
		UPDATE banned_user
		SET reason = #{reason},
		penalty_date =
		#{penaltyDate},
		release_date = #{releaseDate},
		admin_user_name =
		#{adminUserName}
		WHERE user_num = #{userNum}
		AND is_banned = 'Y'
		AND
		release_date > SYSDATE
	</update>

	<update id="updateBannedUserReleaseDate" parameterType="map">
		UPDATE banned_user
		SET release_date = #{releaseDate}
		WHERE user_num = #{userNum}
	</update>

</mapper>