 body {
  font-family: "Titillium Web", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

.box {
  max-width: 800px;
  margin: 60px auto;
  padding: 40px;
background: linear-gradient(135deg, #EEF1FF, #F4F6FF);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1.element {
  font-size: 32px;
  text-align: center;
  margin-bottom: 40px;
}

h1.element .text-wrapper {
  color: #5a54ff;
}

h1.element .span {
  color: #000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

label {
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}

input[type="text"],
textarea,
select {
  width: 100%;
  padding: 14px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

textarea {
  resize: vertical;
  min-height: 120px;
}

.overlap-2 {
  display: flex;
  align-items: center;
  gap: 12px;
}

input[type="file"] {
  padding: 8px;
}

.text-wrapper-7 {
  font-size: 16px;
  color: #000;
}

button.overlap-wrapper {
  padding: 14px 0;
  background-color: #5a54ff;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


button.overlap-wrapper-1 {
  margin-top: px;
  padding: 14px 0;
  background-color: #969696;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button.overlap-wrapper:hover {
  background-color: #4a43d1;
}

.line {
  margin-top: 50px;
  height: 1px;
  background-color: #ccc;
  border: none;
}

.box .content {
  width: 100%;
  height: 400px; 
  padding: 12px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  resize: none;
}