<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 
<mapper namespace="board">
	<insert id="insertBoardCommon" parameterType="BoardCommon">
		<!-- 
			selectKey
			 - INSERT 전/후에 실행되어 게시글 번호와 같은 자동증가값을 가져오는 구문
			 - keyProperty : 결과값을 저장할 필드명
			 - resultType : 반환되는 타입의 자료형
			 - order : insert 전에 실행될지 후에 실행될지를 지정하는 속성
			 - 같은 트랜잭션에서 현재 테이블의 PK값이 필요한 경우 사용
		 -->
 		<selectKey keyProperty="boardId" resultType="int" order="BEFORE" >
			SELECT BOARD_COMMON_SEQ.NEXTVAL FROM DUAL		
		</selectKey>
		
		INSERT INTO BOARD_COMMON
		(
			BOARD_ID,
			USER_NUM,
			PRODUCT_NAME,
			PRODUCT_COMMENT,
			TRANSACTION_ADDRESS,
			TRANSACTION_CATEGORY,
			PRODUCT_CATEGORY,
			CREATE_DATE,
			VIEWS,
			TRANSACTION_STATUS
		) VALUES 
		(
			#{boardId} ,
			#{userNum},
			#{productName},
			#{productComment} ,
			#{transactionAddress},
			#{transactionCategory},
			#{productCategory},
			DEFAULT,
			DEFAULT,
			DEFAULT		
		)
	</insert>
	
		<insert id="insertBoardRental" parameterType="BoardRental">
		
		INSERT INTO BOARD_RENTAL
		(
			BOARD_ID,
			RENTAL_FEE,
			DEPOSIT,
			RENTAL_START_DATE,
			RENTAL_END_DATE
		) VALUES 
		(
			#{boardId},
			#{rentalFee},
			#{deposit},
			#{rentalStartDate} ,
			#{rentalEndDate}
		)
		
		
	</insert>
	
	<insert id="insertPath" parameterType="FilePath">

 		<selectKey keyProperty="pathId" resultType="int" order="BEFORE" >
			SELECT FILE_PATH_SEQ.NEXTVAL FROM DUAL		
		</selectKey>
		
		INSERT INTO FILE_PATH
		(
			PATH_ID,
			PATH
		)
		 VALUES 
		(
			#{pathId},
			#{path}
		)
	
	</insert>
	
	<insert id="insertImg" parameterType="File">

 		<selectKey keyProperty="fileId" resultType="int" order="BEFORE" >
			SELECT FILE_SEQ.NEXTVAL FROM DUAL		
		</selectKey>
		
		INSERT INTO "FILE"
		(
			FILE_ID,
			PATH_NUM,
			FILE_NAME,
			REF_NO,
			FILE_ASSORTMENT
		)
		 VALUES 
		(
			#{fileId},
			#{pathNum},
			#{fileName},
			#{refNo},
			#{fileAssortment}
		)
	
	</insert>
	
	<insert id="insertTag" parameterType="Tag">

 		<selectKey keyProperty="tagId" resultType="int" order="BEFORE" >
			SELECT TAG_SEQ.NEXTVAL FROM DUAL		
		</selectKey>
		
		INSERT INTO TAG
		(
			TAG_ID,
			TAG_CONTENT
		)
		 VALUES 
		(
			#{tagId},
			#{tagContent}
		)
	
	</insert>
	
	<insert id="insertBoardTag" parameterType="BoardTag">
		
		INSERT INTO BOARD_TAG
		(
			TAG_ID,
			BOARD_ID,
			BOARD_CATEGORY
		)
		 VALUES 
		(
			#{tagId},
			#{boardId},
			#{boardCategory}
		)
	
	</insert>


	<select id="selectCategoryList" resultType="productCategory">
		SELECT 
			PRODUCT_CATEGORY_NUM,
			CATEGORY_NAME,
			CATEGORY_TIER,
			PARENT_NUM
		FROM PRODUCT_CATEGORY

	</select>
</mapper>